# Node dependencies
node_modules/
npm-debug.log
yarn-error.log

# IDE and Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Capacitor files

# Android-specific ignores (if not handled by android/.gitignore)
android/app/build/
android/.gradle/
android/local.properties
android/captures/
android/app/release/
android/app/debug/
*.apk
*.aar

# iOS-specific ignores (if not handled by ios/.gitignore)
ios/App/build/
ios/App/Pods/
ios/App/Podfile.lock
ios/App/App/public/
ios/App/App/capacitor.config.json
